.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: var(--green);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin: 10px;
}

.modal-content label {
  display: block;
}

.modal-content input {
  width: 30%;
  padding: 8px;
  color: var(--dark);
  font-size: 1em;
  text-align: center;
  border: 1px solid var(--green);
  border-radius: 5px;
}

#saveSettingsButton {
  background-color: var(--green);
  color: var(--dark);
}

#saveSettingsButton:hover {
  background-color: var(--dark);
  color: var(--green);
}

#closeSettingsButton,
#setting {
  background-color: transparent;
  color: var(--green);
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  padding-left: 70px;
}

#closeSettingsButton i,
#setting i {
  font-size: 1.2em;
  transition: transform 0.3s ease;
}

#closeSettingsButton:hover i,
#setting:hover i {
  transform: rotate(90deg);
}
